HOME_URL=http://sklandymas.lt/veikla/pramogos/
SECRET_KEY=ogz=h#*lvlrs^*%$4at1_m0e-1bn+@sqm9s(8b9@p)01_+n)^3
DEBUG=True
DATABASE_URL=sqlite:///var/db.sqlite3
ENABLE_HTTPS=False

# Obtain google keys at https://console.developers.google.com/apis/credentials
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=

# Obtain at https://www.paysera.lt/
WEBTOPAY_PROJECT_ID=
WEBTOPAY_PASSWORD=

# Mailgun
EMAIL_ENABLED = False
MAILGUN_ACCESS_KEY=
MAILGUN_SERVER_NAME=

# Optional
SENTRY_ENABLED=False
SENTRY_DSN=
