{% extends "base_generic.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!--
<div class="row justify-content-md-center">
  <div class="col-sm-6">
    <h2>Login</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      <table>
      {{ form | crispy }}
    </table>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
</div>
 -->
<a class="btn btn-primary"
   href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
{% endblock %}
