body {
  background-image: url(/static/images/mainbg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}

table {
  background: white;
}

.userinfo {
  float: right;
}

.important {
  color: #c00;
  padding: 6pt;
  border: 2px solid #c00;
}

.status {
  background-color: infobackground;
  padding: 6px 12px;
  border-bottom: 1px outset infobackground;
}

dl {
  padding: 0.5em;
}
dt {
  float: left;
  clear: left;
  width: 150px;
  text-align: right;
  font-weight: bold;
}
dt:after {
  content: ":";
}
dd {
  margin: 0 0 0 160px;
  padding: 0 0 0.5em 0;
}

/* Base layout */

.main {
   padding-top: 30px
}

.container, .status .inner {
  width: 960px;
  margin: 0 auto;
}

.rightblock {
  float: right;
  margin: 0 0 20px 20px;
}

/* Tablet portrait */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container, .status .inner {
    width: 768px;
  }
}

/* Mobile portrait */
@media only screen and (max-width: 767px) {
  .container, .status .inner {
    width: 300px;
  }
  .rightblock {
    float: none;
    margin: 0;
  }
}

@media print {
  .noprint {
      display:none;
  }

  .container {
    width: 100%;
  }

  .status {
    display: none;
  }
}
