<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'coupons/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'coupons/style.css' %}">
    </head>

    <body>
        <div class="container">

            {% if user.is_authenticated %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="#">Sklandymo kvietimai</a>

              <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin_summary' %}">Statistika</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'coupon_list' %}">Galiojantys</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'coupon_spawn' %}">Generatorius</a>
                  </li>
                </ul>
                <div>
                <div class="navbar-text">{{ user }}</div>
                <a href="{% url 'logout' %}" class="btn btn-sm btn-outline-info">Baigti darbą</a>
            </nav>
            {% endif %}


            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
            {% endif %}


            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
