{% extends "base_generic.html" %}
{% load static %}

{% block title %}Kvietimas {{coupon.id}} |{% endblock %}

{% block content %}

<button class="rightblock noprint nohandheld btn btn-info"
  onclick="window.print()">Spausdinti</button>

<div class="logo">
  <img class="logo" alt="Vilniaus Aeroklubas"
    src="{% static 'coupons/images/logo.png' %}" />
</div>

<div class="rightblock">
    <img src='{% url "coupon_qr" coupon.id %}' />
</div>

<h3>{{ coupon.id }}. {{ coupon.coupon_type.title}}.</h3>

{% block coupon_content %}
{% endblock %}

{% endblock %}
