{% extends "coupons/base_coupon.html" %}
{% block coupon_content %}

<p>Tai – pradžia, svajojantiems tapti pilotais.</p>

<p>Teorijos mokymai skirti, norintiems įgyti Sklandytojų (SPL), Pilotų mėgėjų
(PPL(A)) ar Ultralengvųjų orlaivių (ULO) pilotų licencijas.</p>

<p> Mokymų programą sudaro šios aviacinės disciplinos:</p>
<ul>
    <li>bendrosios žinios apie orlaivius</li>
    <li>navigacija</li>
    <li>aerodinamika</li>
    <li>meteorologija</li>
    <li>radijo ryšio priemonės</li>
    <li>oro teisė ir skrydžių procedūros</li>
    <li>žmogaus galimybės skraidyti</li>
    <li>skrydžio vykdymas ir planavimas</li>
</ul>

<p>Įsisavinus visas disciplinas ir sėkmingai išlaikius egzaminus, lieka tik skrydžiai.</p>

<p>Paskaitos vyksta nuo sausio iki balandžio.</p>

<p>Gavę šią dovaną, registruokitės kursams Vilniaus aeroklubo tinklapyje <a
href="http://sklandymas.lt/">www.sklandymas.lt</a>. Jei turite klausimų,
kreipkitės telefonu <span itemprop="telephone"><a
href="tel:+37061515060">+370&nbsp;615&nbsp;15060</a></span> arba e-paštu <a
href="mailto:aeroklubas@sklandymas.lt">aeroklubas@sklandymas.lt</a>.</p>



{% endblock %}
