{% extends "coupons/base_coupon.html" %}
{% block coupon_content %}

<p class='noprint important'>Atvažiuodami skristi, su savimi
turėkite šį kvietimą.</p>

{{ coupon.coupon_type.welcome_text | safe }}

<p>Aerodrome pasiruoškite praleisti daugiau laiko — laukdami skrydžio ar
dalindamiesi įspūdžiais po jo. Pasigrožėsite sklandytuvų bei lėktuvų
skrydžiais.</p>

<h4>Kaip mus rasti?</h4>

<p>Paluknio aerodromas &mdash; įsikūręs šalia kelio, važiuojant iš Vilniaus
link Druskininkų, 35-tąjame kilometre. Pravažiavę Paluknio miestelį, kairėje
pusėje pamatysite aerodromą. Įvažiavimas &mdash; keliuku nuo iškelto
sklandytuvo.

Adresas &mdash; Sklandytuvų g. 1, Paluknio km., Trakų r. Žemėlapį
rasite čia: <a
href="http://goo.gl/maps/edazK">http://goo.gl/maps/edazK</a>.</p>

<h4>Ką apsirengti?</h4>

<p>Aprangai ypatingų reikalavimų nėra &mdash; kad būtų Jums patogu ir nuo kojų apavas nekristų.</p>

<h4>Kada skraidome?</h4>

<p>Skraidome išeiginėmis dienomis nuo gegužės iki rugsėjo pabaigos palankiomis oro sąlygomis
&mdash; nelyjant, nesant labai stipriam vėjui ar karščiui virš +30&deg;C.</p>

<h4>Svarbu!</h4>

<p>Kvietimas galioja {{ coupon.coupon_type.validity_cond_text }} iki
{{ coupon.expires }}. Būtinai iš anksto rezervuokite skrydį paskambinę telefonu 
<span itemprop="telephone"><a href="tel:+37061515060">+370&nbsp;615&nbsp;15060</a></span>. 
Taip pat paskambinkite ir prieš važiuodami į aerodromą, pasitikslinti ar tinkamos 
oro sąlygos skrydžiui.</p>

<p>Skristi neleidžiama apsvaigusiems nuo alkoholio, narkotinių medžiagų
ar turintiems sveikatos sutrikimų.</p>

{% endblock %}
