{% extends "base_generic.html" %}
{% load static %}

{% block title %}Kvietimas {{coupon.coupon_id}} |{% endblock %}

{% block content %}

<button class="rightblock noprint nohandheld btn btn-info"
  onclick="window.print()">Spausdinti</button>

<div class="logo">
  <img class="logo" alt="Vilniaus Aeroklubas"
    src="{% static 'images/logo.png' %}" />
</div>
<h3>{{ coupon.id }}. {{ coupon.coupon_type.title}}.</h3>

<p class='noprint important'>Atvažiuodami skristi, būtinai su savimi
turėkite atspausdintą šį kvietimą.</p>


<div class="rightblock">
    <img src='{% url "coupon_qr" coupon.id %}' />
</div>

{{ coupon.coupon_type.welcome_text | safe }}

<p>Aerodrome pasiruoškite praleisti daugiau laiko — laukdami skrydžio ar
dalindamiesi įspūdžiais po jo. Pasigrožėsite sklandytuvų bei lėktuvų
skrydžiais, galėsite apsilankyti kavinėje ar surengti savo vaišes aerodromo
gamtoje.</p>

<h4>Kaip mus rasti?</h4>

<p>Paluknio aerodromas &mdash; įsikūręs šalia kelio, važiuojant iš Vilniaus
link Druskininkų, 35-tąjame kilometre. Pravažiavę Paluknio miestelį, kairėje
pusėje pamatysite aerodromą. Įvažiavimas &mdash; keliuku nuo iškelto
sklandytuvo.

Žemėlapį
rasite čia: <a
href="http://goo.gl/maps/edazK">http://goo.gl/maps/edazK</a>.</p>

<h4>Ką apsirengti?</h4>

<p>Aprangai ypatingų reikalavimų nėra &mdash; kad būtų Jums patogu ir nuo kojų apavas nekristų.</p>

<h4>Kada skraidome?</h4>

<p>Skraidome nuo gegužės iki rugsėjo pabaigos palankiomis oro sąlygomis
&mdash; nelyjant, nesant labai stipriam vėjui ar karščiui virš +30&deg;C.</p>

<h4>Svarbu!</h4>

<p>

Kvietimas galioja {{ coupon.coupon_type.validity_cond_text }} iki
{{ coupon.expires }}. Kviečiame nelaukti pabaigos ir atvykti
kuo anksčiau. Gale sezono – orai prastėja, žmonių eilės – ilgėja; galime ir
nespėti. Skristi neleidžiama apsvaigusiems nuo alkoholio, narkotinių medžiagų
ar turintiems sveikatos sutrikimų. Būtinai, prieš važiuodami į aerodromą, tą
pačią dieną, skrydį suderinkite - po  11 val. paskambinę  telefonu <span
itemprop="telephone"><a
href="tel:+37063302222">+370&nbsp;633&nbsp;02222</a></span> arba <span
itemprop="telephone"><a
href="tel:+37061515060">+370&nbsp;615&nbsp;15060</a></span>.

</p>

{% endblock %}
