{% extends "base_generic.html" %}
{% block main %}

<h2>Užsakymas {{order.order_id}} priimtas</h2>

{% if order.is_paid() %}

  <p>Užsakymas yra priimtas ir apmokėtas. Dabar galite atspausdinti Jūsų
  kvietimą:

  {% for coupon, coupon_url in coupons %}
      <a href="{{ coupon_url }}">{{ coupon.coupon_id }}</a>{{ '.' if loop.last else ', ' }}
  {% endfor %}
  
  Nuoroda į
  kvietimo puslapį taip pat atsiuntėme el.  pašto adresu {{ order.payer_email }}.</p>

{% else %}

  <p>Užsakymas yra priimtas, tačiau informacijos apie amokėjimą dar neturime.
  Kai tik gausime informaciją apie amokėjimą (ši informacija bus perduota mums
  automatiškai po to, kai apmokėsite užsakymą Jūsų pasirinktu būdų), adresu {{
  order.payer_email }}
  išsiusime Jums kvietimą.</p>

{% endif  %}

{% endblock %}
