<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
  <meta charset="utf-8">
  <title>{% block title %}{%endblock %} Pramoginiai skrydžiai</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="verify-webtopay" content="1cae60c5943ec345ba6abb625dceb4e6">

  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/layout.css">
  <link rel="stylesheet" href="/static/css/tables.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


  </head>
  <body>
    {% if request.msg is defined %}
      <div class="status noprint"><div class='inner'>{{ request.msg }}</div></div>
    {% endif %}
    <div class="container">
      <div class="userinfo noprint">
        {% if user.logged %}
        <strong>{{ user.nickname }}</strong> |
        <a href={{ user.logout_url }}>Baigti darbą</a>
        {% endif %}
      </div>

      <div class="main">
        {% block main %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
