{% extends "base_generic.html" %}

{% block title %}Kvietimas {{coupon.coupon_id}} |{% endblock %}

{% block main %}
<h3>{{ coupon.order.coupon_type | coupon_type }} </h3>
<form method="post">
    {% if coupon.order.test %}
    <div class='important'>Dėmėsio! Kvietimas yra <strong>testinis</strong>.</div>
    {% endif %}

    <dl>
        <dt>Kvietimo nr</dt>
        <dd>{{ coupon.coupon_id }}</dd>

        <dt>Kaina</dt>
        <dd>{{ coupon.order.price }} {{ coupon.order.currency }} </dd>

        <dt>Sumokėta</dt>
        <dd>{{ coupon.order.paid_amount or ''}} {{ coupon.order.paid_currency or ''}} </dd>

        <dt>Pirkėjas</dt>
        <dd><a href="{{ coupon.order.payer_email }}">{{ coupon.order.payer_email }}</a></dd>

        <dt>Pirkimo laikas</dt>
        <dd>{{ coupon.order.payment_time | datetime }}</dd>

        <dt>Galioja iki</dt>
        <dd>{{ coupon.expires | date}}</dd>

        <dt>Užsakymo pastabos</dt>
        <dd>{{ coupon.order.notes or ''}}</dd>

        {% if not coupon.active %}
        <dt>Panaudojimo laikas</dt>
        <dd>{{ coupon.use_time | datetime }}</dd>
        {% endif %}
    </dl>

    {% if coupon.active %}
        <p>Kvietimas galioja.</p>
        <input type='submit' style='width: 100%; height: 60px' value='Panaudoti' />
    {% else %}
        <div class="important">
            Kvietimas nebegalioja.
        </div>
    {% endif %}
</form>

<hr />
<div id="react-content"></div>

<script>
  renderCoupon(document.getElementById("react-content"),
               {{coupon_json | tojson | safe}});
</script>
{% endblock %}
