{% macro title(coupon) -%}
    {{ coupon.order.get_coupon_type().title }}
{%- endmacro %}

{% macro welcome(coupon) -%}
    {% set ct = coupon.order.coupon_type %}

    {% if ct == 'training' %}

        Kviečiame į Paluknio aerodromą patirti skrydžio jausmą bemotoriu
        sklandytuvu, pasigrožėti gamta ir susipažinti su sklandymo sportu.
        Sklandytuvas išvilktas autoišvilktuvu į 300 m. aukštį, atkabinamas.
        Pakilę su patyrusiu pilotu, virš aerodromo apsuksite apžvalginį ratą.
        Skrydis truks apie 5 min.


    {% elif ct == 'acro' %}

        Kviečiame į Paluknio aerodromą patirti skrydžio jausmą bemotoriu
        sklandytuvu, pasigrožėti gamta ir susipažinti su sklandymo sportu.
        Sklandytuvas, išvilktas lėktuvu, aerodromo rajone atkabinamas.
        Sklęsdami su patyrusiu pilotu, susipažinsite su sklandytuvo skrydžio
        galimybėmis, išbandysite jį patys pilotuodami. Skrydis truks 20-30 min.

    {% elif ct == 'plane_short' %}

        Kviečiame į Paluknio aerodromą — 10-ties minučių apžvalginiam
        skrydžiui keturviečiu lėktuvu — patirti skrydžio jausmą, pasigrožėti
        gamta bei iš arčiau susipažinti su aviacija ir lėktuvo skrydžio
        galimybėmnis.

    {% elif ct == 'plane_long' %}

        Kviečiame į Paluknio aerodromą — 15-kos minučių apžvalginiam skrydžiui
        keturviečiu lėktuvu — patirti skrydžio jausmą, pasigrožėti gamta bei
        iš arčiau susipažinti su aviacija ir lėktuvo skrydžio galimybėmnis.

    {% elif ct == 'ultralight_short' %}

        Kviečiame į Paluknio aerodromą — 30-ties minučių apžvalginiam
        skrydžiui virš Trakų keturviečiu lėktuvu — patirti skrydžio jausmą,
        pasigrožėti gamta bei iš arčiau susipažinti su aviacija ir lėktuvo
        skrydžio galimybėmnis.

    {% elif ct == 'ultralight_long' %}

    {% else %}

        {{unknown_coupon_type}}  {# this will cause macro to fail #}

    {% endif %}

{%- endmacro %}

{% macro validity(coupon) -%}

    {% set ct = coupon.order.coupon_type %}

    {% if ct == 'training' %}
        Kvietimas galioja 1 skrydžiui 1 asmeniui iki šių metų rugsėjo 20 d
    {% elif ct == 'acro' %}
        Kvietimas galioja 1 skrydžiui 1 asmeniui iki šių metų rugsėjo 20 d
    {% elif ct == 'plane_short' %}
        Kvietimas galioja 1 skrydžiui 3 asmenims iki šių metų rugsėjo 20 d
    {% elif ct == 'plane_long' %}
        Kvietimas galioja 1 skrydžiui 3 asmenims iki šių metų rugsėjo 20 d
    {% elif ct == 'ultralight_short' %}
        Kvietimas galioja 1 skrydžiui 1 asmeniui  iki šių metų rugsėjo 30d
    {% elif ct == 'ultralight_long' %}
        Kvietimas galioja 1 skrydžiui 1 asmeniui  iki šių metų rugsėjo 30d
    {% else %}
        {{unknown_coupon_type}}  {# this will cause macro to fail #}
    {% endif %}

{%- endmacro %}
