{% extends "base_generic.html" %}

{% block title %}Kvietimas {{coupon.coupon_id}} |{% endblock %}

{% block main %}

<h2>Kvietimas {{ coupon.coupon_id }}: {{ coupon_type.description | lower }}</h2>

<p class='noprint important'>Atspausdinkite šitą kvietimą arba išsaugokite jo numerį:
{{ coupon.coupon_id }}.</p>


<div class="rightblock">
    <img src='{{ qr }}' />
</div>

<p>Šis kvietimas suteikia teisę atlikti vieną skrydį ({{
coupon_type.description | lower }})
Paluknio aerodrome.</p>

<h3>Kada atvažiuoti?</h3>

<p>Skrydžiai vykdomi savaitgaliais visą skraidymų sezoną (nuo gegužės pradžios
iki rugsėjo pabaigos), kai leidžia oro salygos. Prieš važiuojant į Paluknio
aerodromą, paskambinkite telefonu <span itemprop="telephone"><a
    href="tel:+37061515060">+370 615 15060</a></span> arba <span
  itemprop="telephone"><a href="tel:+37063302222">+370 633 02222</a></span> ir
patikslinkyte atvažiavimo laiką.</p>

<h3>Kur atvažiuoti?</h3>

<p>Vilniaus aeroklubas yra įsikūręs Paluknio aerodrome, šalia Paluknio
miestelio. Važiuojant iš Vilniaus link Druskininkų keliu A4, pravažiavę
Paluknio miestelį, kairėje pusėje pamatysite Paluknio aerodromą. Įvažiavimas
&mdash; keliuku šalia iškelto sklandytuvo.</p>

{% endblock %}


