{% macro title(coupon) -%}
    {{ coupon.order.get_coupon_type().title }}
{%- endmacro %}

{% macro welcome(coupon) -%}
    {% set ct = coupon.order.coupon_type %}

    {% if ct == 'training' %}

        <p>Kviečiame į Paluknio aerodromą patirti skrydžio jausmą bemotoriu
        sklandytuvu, pasigrožėti gamta ir susipažinti su sklandymo sportu.
        Sklandytuvas išvilktas autoišvilktuvu į 300 m. aukštį, atkabinamas.
        Pakilę su patyrusiu pilotu, virš aerodromo apsuksite apžvalginį ratą.
        Skrydis truks apie 5 min.</p>


    {% elif ct == 'acro' %}

        <p>Kviečiame į Paluknio aerodromą patirti skrydžio jausmą bemotoriu
        sklandytuvu, pasigrožėti gamta ir susipažinti su sklandymo sportu.
        Sklandytuvas, išvilktas lėktuvu, aerodromo rajone atkabinamas.
        Sklęsdami su patyrusiu pilotu, susipažinsite su sklandytuvo skrydžio
        galimybėmis, išbandysite jį patys pilotuodami. Skrydis truks 20-30
        min.</p>

    {% elif ct == 'plane_short' %}

        <p>Kviečiame į Paluknio aerodromą — 10-ties minučių apžvalginiam
        skrydžiui keturviečiu lėktuvu — patirti skrydžio jausmą, pasigrožėti
        gamta bei iš arčiau susipažinti su aviacija ir lėktuvo skrydžio
        galimybėmnis.</p>

    {% elif ct == 'plane_long' %}

        <p>Kviečiame į Paluknio aerodromą — 15-kos minučių apžvalginiam
        skrydžiui keturviečiu lėktuvu — patirti skrydžio jausmą, pasigrožėti
        gamta bei iš arčiau susipažinti su aviacija ir lėktuvo skrydžio
        galimybėmnis.</p>

    {% elif ct == 'ultralight_short' %}

        <p>Kviečiame į Paluknio aerodromą — 30-ties minučių apžvalginiam
        skrydžiui virš Trakų keturviečiu lėktuvu — patirti skrydžio jausmą,
        pasigrožėti gamta bei iš arčiau susipažinti su aviacija ir lėktuvo
        skrydžio galimybėmnis.</p>

    {% elif ct == 'ultralight_long' %}

    {% elif ct == 'donation' %}

        <p>Dėkodami Jums už mūsų klubui skirtus 2% nuo sumokėtų savo mokesčių,
        dovanojame apžvalginį skrydį Sklandytuvu arba Ultra lengvuoju lėktuvu.
        Kviečiame patirti skrydžio jausmą, pasigrožėti gamta iš viršaus ir
        susipažinti su aviacija.</p>

        <p>Ultra lengvuoju lėktuvu pakilsite nuo kilimo-tūpimo tako.
        Sklandytuvas – be variklio, todėl bus išvilktas auto išvilkėju ir
        maždaug 300 m. aukštyje atkabintas. Skrisite su patyrusiu pilotu.
        Apskrisite apžvalginį ratą aerodromo apylinkėse.</p>

    {% else %}

        {{unknown_coupon_type}}  {# this will cause macro to fail #}

    {% endif %}

{%- endmacro %}

{% macro validity(coupon) -%}

    {% set ct = coupon.order.coupon_type %}

    {% if ct == 'training' %}
        Kvietimas galioja 1 skrydžiui 1 asmeniui iki šių metų rugsėjo 20 d.
    {% elif ct == 'acro' %}
        Kvietimas galioja 1 skrydžiui 1 asmeniui iki šių metų rugsėjo 20 d.
    {% elif ct == 'plane_short' %}
        Kvietimas galioja 1 skrydžiui 3 asmenims iki šių metų rugsėjo 20 d.
    {% elif ct == 'plane_long' %}
        Kvietimas galioja 1 skrydžiui 3 asmenims iki šių metų rugsėjo 20 d.
    {% elif ct == 'ultralight_short' %}
        Kvietimas galioja 1 skrydžiui 1 asmeniui  iki šių metų rugsėjo 30d.
    {% elif ct == 'ultralight_long' %}
        Kvietimas galioja 1 skrydžiui 1 asmeniui  iki šių metų rugsėjo 30d.
    {% elif ct == 'donation' %}
        Kvietimas galioja 1 skrydžiui 1 asmeniui, tik šį skraidymų sezoną.
    {% else %}
        {{unknown_coupon_type}}  {# this will cause macro to fail #}
    {% endif %}

{%- endmacro %}
