{% extends "base_generic.html" %}
{% import "coupon_content.html" as cc %}

{% block title %}Kvietimas {{coupon.coupon_id}} |{% endblock %}

{% block main %}

<button class="rightblock noprint nohandheld"
	onclick="window.print()">Spausdinti</button>

<div class="logo">
	<img class="logo" alt="Vilniaus Aeroklubas" src="/static/images/logo.png" />
</div>
<h3>{{ coupon.coupon_id }}. {{ cc.title(coupon)}}</h3>

<p class='noprint important'>Atvažiuodami skristi, būtinai su savimi
turėkite atspausdintą šį kvietimą.</p>


<div class="rightblock">
    <img src='{{ qr }}' />
</div>

<p>{{ cc.welcome(coupon) }}</p>

<p>Aerodrome pasiruoškite praleisti daugiau laiko — laukdami skrydžio ar dalindamiesi įspūdžiais po jo. Pasigrožėsite sklandytuvų bei lėktuvų skrydžiais, galėsite apsilankyti kavinėje ar surengti savo vaišes aerodromo gamtoje.</p>

<h4>Kaip mus rasti?</h4>

<p>Paluknio aerodromas — įsikūręs šalia kelio, važiuojant iš Vilniaus link
Druskininkų, 35-tąjame kilometre. Pravažiavę Paluknio miestelį, kairėje pusėje
pamatysite aerodromą. Įvažiavimas — keliuku šalia iškelto sklandytuvo. Žemėlapį
rasite čia: <a
href="http://goo.gl/maps/edazK">http://goo.gl/maps/edazK</a>.</p>

<h4>Ką apsirengti?</h4>

<p>Aprangai ypatingų reikalavimų nėra &mdash; kad būtų patogu ir nekristų
apavas nuo kojų.</p>


<h4>Kada skraidome?</h4>

<p>Skraidome nuo gegužės iki rugsėjo pabaigos palankiomis oro sąlygomis &mdash;
nelyjant, nesant labai stipriam vėjui ar karščiui virš +30&deg;C.</p>

<h4>Svarbu!</h4>

<p>

{{ cc.validity(coupon) }}. Kviečiame atvykti Jums patogiu laiku, skrydį
suderinus  telefonu <span itemprop="telephone"><a
href="tel:+37063302222">+370&nbsp;633&nbsp;02222</a></span> arba <span
itemprop="telephone"><a
href="tel:+37061515060">+370&nbsp;615&nbsp;15060</a></span>.  Skambinti tą
pačią dieną po 11 valandos.  Skristi neleidžiama apsvaigusiems nuo alkoholio,
narkotinių medžiagų ar turintiems sveikatos sutrikimų. </p>

{% endblock %}
