{% extends "base_generic.html" %}
{% block title %}Statistika |{% endblock %}
{% block main %}
<h2>Statistika</h2> 
<ul>
</ul>

<div class="eight columns alpha">
  <div id="coupon-type-chart" style='height: 400px'></div>
</div>
<div class="eight columns omega">
  <div id="order-status-chart" style='height: 400px'></div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawCharts);
  function drawCharts() {

    var couponsByTypeData = google.visualization.arrayToDataTable([
      ['Type', 'Number of Coupons'],
      {% for tp, cnt in coupons_by_type.items() %}
      ['{{tp | coupon_type}}', {{cnt}}],
      {% endfor %}
    ]);
    
    var orderByStatusData = google.visualization.arrayToDataTable([
      ['Status', 'Number of Orders'],
      {% for status, cnt in orders_by_status.items() %}
      ['{{status | order_status}}', {{cnt}}],
      {% endfor %}
    ]);

    var typechart = new google.visualization.PieChart(document.getElementById('coupon-type-chart'));
    var statuschart = new google.visualization.PieChart(document.getElementById('order-status-chart'));

    typechart.draw(couponsByTypeData,
                   {backgroundColor: 'transparent',
                    is3D: true,
                    title: 'Kvietimai pagal tipą',
                    pieSliceText: 'percentage'});


    statuschart.draw(orderByStatusData, 
                     {backgroundColor: 'transparent',
                      is3D: true,
                      title: 'Užsakymai pagal statusą',
                      pieSliceText: 'percentage'});
  }
</script>


{% endblock %}
