{% extends "base_generic.html" %}
{% block main %}
<h2>Užsakomas {{ coupon_type.description }} </h2>
<p>Kaina: {{ coupon_type.price }} Lt</p>

<form method="post">
  {#
  <p>
  Vardas:
  {{ errors.name | error }}
  <input name='name' type='text' value='{{ request.name }}' />
  </p>

  <p>
  Pavardė:
  {{ errors.surname | error }}
  <input name='surname' type='text' value='{{ request.surname }}' />
  </p>

  <p>El. paštas:
  {{ errors.email | error}}
  <input name='email' type='text' value='{{ request.email }}' />
  </p>
  #}

  <p>
  <input type='submit' value='Nusipirkti' />
  </p>                  
</form>

{% endblock %}

